/* mobile friendly code */
@media screen and (max-width: 768px) {
    p {
        font-size: 15px;
    }

    div img {
        padding-top: 160px;
        padding-left: 10px;
    }
    div {
        text-align: center;
    }
    footer img {
        padding-top: 10px;
    }
}

div {
    font-family: 'Georgia', serif;
}

div img {
    padding-left: 10px;
}

footer img {
    padding: 0;
}