nav {
    background-color: var(--paynes-gray);
    color: var(--mint-green);
    height: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

nav li {
    padding: 10px;
    transition: var(--mint-green) 0.3s ease;
}
/* adding hover effect to li elements */
nav li:hover {
    color: var(--baby-powder);
}

.nav-link {
    text-decoration: none;
    color: inherit;
}

/* mobile friendly code */
@media screen and (max-width: 768px) {
    nav ul {
        justify-content: center;
    }
}